// Some Font
// font-family: 'Quantico', sans-serif;
// font-family: 'Signika', sans-serif;
// font-family: 'Source Code Pro', monospace;

$fontQuantico : 'Quantico', sans-serif;
$fontSignika : 'Signika', sans-serif;
$fontCode : 'Source Code Pro', monospace;


body{
    width: 100%;
    height: 100vh;
    background-color: white;
    color: white;
    margin: 0;
    padding: 0;
}

#loader {
    background-color: black;
    height: 100%;
    width: 100%;
    marquee{
        font-size: 24vh;
        font-weight: 900;
        font-style: italic;
        color: rgb(20, 20, 20);
        font-family: $fontQuantico;
        line-height: 1em;
    }

    #intro{
        position: absolute;
        top: 43%;
        left: 15%;

        .intro-title{
            font-size: 6vw;
            letter-spacing: 1vmin;
            color: white;
            font-weight: 300;
            font-family: $fontSignika;
            font-weight: 900;
        }
    }
}

#home{
    background-color: rgb(207, 207, 207);
    width: 100%;
    height: 100vh;
    color: rgb(43, 43, 43);
    display: flex;
    #container-2{
        justify-content: center;
        margin: auto;
        width: 90%;
        height: 85%;
        // background-color: black;
        display: flex;
        flex-direction: column;

        #top-nav{
            // background-color: black;
            height: 10%;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            align-items: center;
            .left{
                grid-column: 1;
                font-size: 2.5vw;
                font-weight: 900;

                // background-color: green;
                
            }
            .center{
                grid-column: 2;
                text-align: center;
                font-size: 1.8vw;
                // background-color: red;
            }
            .right{
                grid-column: 3;
                text-align: right;
                font-size: 3vw;
                // background-color: rebeccapurple;

                .frame{
                    width: 100%;
                    height: 100%;
                    // background-color: red;
                    position: relative;
                    text-align: end;
                    z-index: 100;

                    .frame-nav{
                        padding: 0;
                        margin: 0;
                        // background-color: blue;
                        width: 100%;
                        height: 100%;

                        .main-nav-open{
                            // background-color: pink;
                        }

                        svg{
                            // background-color: cyan;
                        }

                        .main-nav{
                            // background-color: red;
                        }
                    }
                }
            }
        }

        #content-2{
            // background-color: blue;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 5% auto 5%;
            grid-template-rows: 100%;

            #social{
                // background-color: red;
                width: 100%;
                height: 100%;
                display: flex;
                color: rgb(80, 80, 80);
                align-items: center;
                font-size: 2rem;
                #social-container{
                    align-items: center;
                    height: 60%;
                    // background-color: rebeccapurple;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }

            #content-container{
                // background-color: blueviolet;
                height: 80vh;
                
                #hero-container{
                    // background-color: red;
                    position: relative;
                    width: 100%;
                    height: 75vh;

                    #border-image{
                        // background-color: red;
                        border: .2rem solid black;
                        position: absolute;
                        border-radius: 10%;
                        border-top-left-radius: 0%;
                        width: 34vmin;
                        height: 59vmin;
                        transform: translate(29vw,8.5vh);
                        box-shadow: 0px 0px 10px black;

                        &::before{
                            content: '';
                            // background-color: yellow;
                            width: 25vw;
                            height: 100px;
                            border-top: .2rem solid black;
                            z-index: 100;
                            position: absolute;
                            transform: translate(-25vw,1vw);
                        }
                    }
                    
                    .image-hero-container{
                        position: absolute;
                        // background-color: blanchedalmond;
                        width: 35vmin;
                        height: 60vmin;
                        transform: translate(30vw,10vh);
                        z-index: 1;
                        overflow: hidden;
                        border-bottom-right-radius: 3rem;

                        h1{
                            color: transparent;
                            font-size: 5vw;
                            letter-spacing: .3vmax;
                            position: absolute;
                            z-index: 2;
                            -webkit-text-stroke: 1px white;
                            white-space: nowrap;
                            font-family: $fontQuantico;
                        }
                        .line1{
                            // color: white;
                            transform: translate(-25vw,-15vh);
                            font-size: 10vw;
                            letter-spacing: .1vw;
                            // -webkit-text-stroke: 1px red;
                            text-shadow: 0 0 30vw white;
                        }
                        .line2{
                            // color: white;
                            font-size: 5vw;
                            letter-spacing: -.4vw;
                            transform: translate(20vw,17vh);
                        }
                        .line3{
                            // color: white;
                            font-family: $fontSignika;
                            font-size: 8vw;
                            letter-spacing: .3vw;
                            transform: translate(1vw,27vh);
                            -webkit-text-stroke: 1px red;
                            text-shadow: 0 0 10vw red;

                        }

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit:cover;
                            // border-radius: 4rem;
                            &::after{
                                content: '';
                                background-color: white;
                                width: 100%;
                                height: 100%;
                                z-index: 100;
                            }
                        }
                    }
                    #outer{
                        overflow: visible;
                        z-index: 0;
                        h1{
                            color: black;
                            -webkit-text-stroke: transparent;
                            text-shadow: 0 0 3rem white;
                        }
                        .line1{
                            transform: translate(-25vw,-15vh);
                            font-size: 10vw;
                            letter-spacing: .1vw;
                        }
                        .line2{
                            font-size: 5vw;
                            letter-spacing: -.4vw;
                            transform: translate(20vw,17vh);
                        }
                        .line3{
                            font-family: $fontSignika;
                            font-size: 8vw;
                            letter-spacing: .3vw;
                            transform: translate(1vw,27vh);
                        }
                    }
                }
                
            }

            #skills{
                background-color: transparent;
                width: 100%;
                height: 100%;
                position: relative;
                #skills-container{
                    color: grey;
                    display: block;
                    position: absolute;
                    display: flex;
                    justify-content:space-around;
                    width:70vh;
                    top: 5vh;
                    left: 6.5vw;
                    transform-origin: 0vw 0vw;
                    transform: rotate(90deg);
                    font-family: $fontCode;
                    letter-spacing: .3vh;
                    // background-color: red;
                    h1{
                        width: max-content;
                    }
                    #skills-webdev{
                        
                    }
                    #skills-uiux{

                    }
                    #skills-appsdev{

                    }
                }
            }
        }
    }
}

#about-me{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    #about-container{
        width: 90%;
        height: 85%;
        // background-color: rgb(29, 29, 29);

        .nav-menu{

        }

        #about-container-content{
            // background-color: blue;
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .title{
                margin: 0 0 5vh 0;
                
            }

            #about-content{
                background-color: black;
                width: 50%;
                font-size: 1.5rem;
                font-family: $fontSignika;
                letter-spacing: .1vw;
                line-height: 1.5em;
                
                p{
                    margin: 4vh 0 4vh 0;
                }
            }
        }        
    }
}

#skills{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    #skills-container{
        width: 90%;
        height: 85%;
        // background-color: rgb(29, 29, 29);

        .nav-menu{

        }

        #skills-container-content{
            // background-color: blue;
            width: 100%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .title{
                margin: 0 0 5vh 0;
                
            }

            #skills-content{
                background-color: black;
                width: 50%;
                font-size: 1.5rem;
                font-family: $fontSignika;
                letter-spacing: .1vw;
                line-height: 1.5em;
                
                p{ 
                    margin: 4vh 0 4vh 0;
                }
            }
        }        
    }
}

#work{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;

    #app{
        top: 0;
        left: 0;
        position: fixed;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        // background-color: red;
    }
    #work-container {
        width: 90%;
        height: 85%;
        // background-color: grey;
        .title{
            // background-color: darkolivegreen;
            width: 100%;
        }
        #work-bg{
            top: 20;
            position: fixed;
            width: inherit;
            height: inherit;
            font-size: 8.5vw;
            -webkit-text-stroke: 2px var(--color-deco);
            text-stroke: 2px var(--color-deco);
            -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
            color: transparent;
            text-transform: uppercase;
            z-index: -1;
            text-align: center;
            // background-color: darkgoldenrod;
            .work-bg-title{
                text-align: center;
                font-size: 8.5vw;
                letter-spacing: 2vw;
                -webkit-text-stroke: .2vw rgba(93, 93, 93, 0.226);
                color: transparent;
                line-height: 1em;
            }
        }
        .work-grid{
            // background-color: darkcyan;
            position: relative;
            // max-width: 300px;
            height:  100%;
            margin: 0 auto;
            padding: 1rem;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .grid-item {
                margin: 0 0 4rem;
                max-width: 300px;
                // background-color: red;

                .grid-item-img{
                    max-width: 100%;
                    display: block;
                    cursor: pointer;

                }
                .grid-item-img-large{
                    pointer-events: nonde;
                    position: fixed;
                    opacity: 0;
                }

                .grid-item-caption{

                    .grid-item-title{
                        font-size: 2.5rem;
                        font-weight: 400;
                        margin: 1rem;
                        line-height: 1;

                    }
    
                    .grid-item-text{
                        color: rgb(114, 114, 114);
                        font-size: 1rem;
                    }
                }
            }


        }

    }
}


// Global Area
.nav-menu{
    color: grey;
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
    text-transform: lowercase;
    font-family: $fontCode;

}

.title{
    color: cyan;
    font-weight: 900;
    font-size: 4vw;
    font-family: $fontQuantico;
}